<% @pets.each do |pet| %>

  <div class='pet'>

    <!-- # class: 'new_review_link', remote: true -->
    <%= link_to pet.name, pet_toys_path(pet), class: 'pet-toys', remote: true %><br />
    <%= pet.breed %><br />
    <%= pet.age %><br />
    <%= pet.cute %><br />
  </div><br />

<% end %>
